<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apontamento de Horas</title>
    <link rel="stylesheet" href="/Lib/MaterialDesign/material.min.css">
    <script src="/Lib/MaterialDesign/material.min.js"></script>
    <script src="/Lib/JQuery/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
@RenderBody()
</body>
</html>

